body
{
    margin: 0px;
}

.hello
{
    font-family: "Century Gothic";
    width: 500px;
    margin: 70px auto;
    text-align: center;
}

#appContainer
{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;



}
#centerSection
{
  content: "g";
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100vw;


}
#topSection
{
  content: "g";
  height: 15%;



}
#bottomSection
{
  content: "g";
  height: 15%;



}

#controls
{
  
  display: flex;
  flex-direction: column;
  width: 50%;
}
#basicSoundControlStyles
{

  display: flex;
  flex-direction: row;
  height: 50%;
}
#applyFXStyles
{

  display: flex;
  flex-direction: row;
  height: 50%;
}

#timesteps
{
  width: 50%;
  display: flex;
  flex-direction: column;

}

#timeStepDisplayGraphStyles
{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  height: 50%;
  grid-column-gap: 5px;
}
#timeStepUniversalControlStyles
{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "spacingBlock timeStepCenter spacingBlock";
  height: 50%;
}
#centerBlockStyles
{

  grid-area: "timeStepCenter";
  height: 100%;
}
#nullstyles
{

  grid-area: "spacingBlock";
  height: 100%;
}
.graphNodeStyles
{
  height: 100%;
  background-color: "lightcoral";
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: 8px solid coral;
  z-index: 12;


}

.graphNodeStyles:hover
{
  border-color: deepskyblue;
  background-color: aquamarine;
}

#circleLineButton
{
  margin-top: 20%;
  width: 23%;
  height: 40%;
}
