body
{
    margin: 0px;
}

/* Main app container elemen */
#appContainer
{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;



}
#ctrlStepCommunicator
{
  content: "g";
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100vw;


}
/* For our header which will contain keystroke animations */

#topSection
{
  content: "g";
  height: 15%;



}
/* So far nothing is planned to go here but we have it just in case */
#bottomSection
{
  content: "g";
  height: 15%;



}
/* For displaying the oscillator, pitch, and volume controls above the FX controls  */
#controls
{

  display: flex;
  flex-direction: column;
  width: 50%;
}
/* This is the grid for JUST the oscillator, pitch, and volume controls in a row */
#basicSoundControlStyles
{

  display: flex;
  flex-direction: row;
  height: 50%;
}
/* This is the grid for JUST the reverb and delay controls in a row */
#applyFXStyles
{

  display: flex;
  flex-direction: row;
  height: 50%;
}
/* this is the grid for the TimeGraphNodes and the scaling UI component */
#timesteps
{
  width: 50%;
  display: flex;
  flex-direction: column;

}
/* This is the container for JUST the TimeGraphNodes in one row */
#timeStepDisplayGraphStyles
{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  height: 50%;
  grid-column-gap: 5px;
}
/* This is the container for JUST the scaling UI component centered in one row */
#timeStepUniversalControlStyles
{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "spacingBlock timeStepCenter spacingBlock";
  height: 50%;
}
/* This represents the scaling UI component by itself */
#centerBlockStyles
{

  grid-area: "timeStepCenter";
  height: 100%;
}
/* This style is for the blocks that take up space on either side of the scaling component */
#nullstyles
{

  grid-area: "spacingBlock";
  height: 100%;
}
/* This is the individual style for a TimeGraphNode */
.graphNodeStyles
{
  height: 100%;
  background-color: "lightcoral";
  width: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: 8px solid coral;
  z-index: 12;


}

.graphNodeStyles:hover
{
  border-color: deepskyblue;
  background-color: aquamarine;
}
/* When an individual graph node is clicked, we display a visual cue to the user */
.graphNodeStylesclicked
{
  border-color: darkgreen;
  background-color: darkolivegreen;
}
/* The ui scaling component uses this button as an input point */
#circleLineButton
{
  margin-top: 20%;
  width: 23%;
  height: 40%;
}
